[data-md-color-scheme="custom"] {
  --md-primary-fg-color:           #151f2e; /* bar colors */
  --md-default-bg-color:           #0b1622; /* background color */   
  --md-default-fg-color:           #b4c8da; /* text color */
  --md-default-fg-color--light:    #8596a5; /* text title color */
  --md-primary-bg-color:           #8596a5; /* topbar icons */
  --md-accent-fg-color:            #d878cb; /* accent */
  --md-accent-dark-fg-color:       #a14494; /* accent */

  --md-typeset-color: #b4c8da;


  --md-code-bg-color:              #151f2e; /* codebox back */
  --md-code-fg-color:              #e0cbd8; /* codebox text */
  --md-code-hl-string-color:       #7df9bb; /* codebox strings */
  --md-code-hl-constant-color:     #b5a8f6; /* codebox const */
  --md-code-hl-number-color:       #ff8686; /* codebox number */
  --md-code-hl-keyword-color:      #40c3ca; /* codebox keywords */
  --md-code-hl-special-color:      #f758aa; /* codebox special */
  --md-code-hl-comment-color: #8596a5;
  --md-code-hl-punctuation-color: #8596a5;
  --md-code-hl-variable-color: #8596a5;
  --md-code-hl-name-color: #e0cbd8;
  --md-code-hl-operator-color: #8596a5;

  --md-typeset-kbd-color: var(--md-code-bg-color);

  --md-admonition-bg-color:        #111b29;
  --md-admonition-fg-color: #b4c8da;

  --md-default-fg-color--lightest: #bebaba4a;
  --md-default-fg-color--lighter:  #bebaba2e;

  --md-typeset-a-color:            #3db4f2;
}


/* desktop left topbar logo */
.md-header-nav__button.md-logo {
  display: none;
}

/* topbar left text */
.md-header-nav__title {
  margin-left: 0.5em;
}

/* codebox */
.md-typeset pre > code {
  border-radius: 5px;
  padding: 1em 1.1764705882em;
}

/* codebox left right spacing on medium screen */
.md-typeset > .highlight {
  margin-left: 0;
  margin-right: 0;
}

/* adapt to codebox padding change */
.md-clipboard {
  top: .7em;
}
  
/* table background */
.md-typeset table:not([class]) {
  background-color: var(--md-admonition-bg-color);
  border-radius: 3px
}

/* table header background, text and border */
.md-typeset table:not([class]) th {
  background-color: var(--md-primary-fg-color);
  color: var(--md-default-fg-color);
  border-bottom: solid 1px var(--md-accent-dark-fg-color);
}

/* left nav repo style */
.md-nav__source {
  background-color: var(--md-primary-fg-color);
  border-top: solid 2px var(--md-accent-fg-color);
}

/* topbar topmost */
.md-header {
  background: linear-gradient(135deg, #151F2E 0%, #171D34 100%);
}

.md-header__topic:first-child {
  font-weight: 400;
}

/* topbar tabs */
.md-tabs {
  background: linear-gradient(135deg, #151F2E 0%, #171D34 100%);
  border-bottom: solid 1px var(--md-accent-fg-color);
}
.md-container nav.md-header__inner {
  border-bottom: solid 1px var(--md-accent-fg-color);
}
.md-tabs__link {
  font-size: .74rem;
  font-weight: 500;
}

.md-tabs__link--active, .md-tabs__link:is(:focus, :hover) {
  color: var(--md-default-fg-color);
}

/* hide the hideous footer prev/next */
.md-footer-nav__inner,
.md-footer__inner {
  display: none !important;
}


/* footer top border and background color */
.md-footer-meta {
  background-color: var(--md-primary-fg-color);
  /* border-top: solid 4px var(--md-accent-fg-color); */
}

/* keyboard buttons */
.md-typeset kbd {
  vertical-align: middle;
  box-shadow: rgba(10, 16, 21, 0.93) 0px 0.1rem 0px 0.05rem, rgb(36, 69, 175) 0px 0.1rem 0px, rgba(43, 65, 87, 0.2) 0px -0.1rem 0.2rem inset;
}

/* highlight */
.md-typeset mark {
  background-color: #66ffcdbd;
  color: black;
}


.md-typeset img {
  border-radius: 5px;
}

.md-typeset h2 {
  border-bottom: solid 1px rgb(39, 55, 76);
  padding-bottom: 2px;
  font-weight: 500;
}


/* admonition with title topbar */
.md-typeset :is(.tip, .hint, .important) > :is(.admonition-title, summary) {
  background-color: #175c521a;
  border-color: #8af6e6;
}

.md-typeset :is(.warning, .attention, .caution) > :is(.admonition-title, summary) {
  background-color: #175c521a;
  border-color: #ffb05c;

}.md-typeset :is(.danger, .error, .caution) > :is(.admonition-title, summary) {
  background-color: #175c521a;
  border-color: #ff4683;

}.md-typeset :is(.example) > :is(.admonition-title, summary) {
  background-color: #175c521a;
  border-color: #8852ff;
}

/* admonition left border */
.md-typeset :is(.admonition, details):is(.tip, .hint, .important) {
  border-color: #8af6e6;
}

.md-typeset :is(.admonition, details):is(.warning, .attention, .caution) {
  border-color: #ffb05c;
}

.md-typeset :is(.admonition, details):is(.danger, .error, .caution) {
  border-color: #ff4683;
}

.md-typeset :is(.admonition, details):is(.example) {
  border-color: #8852ff;
}



/* list item bottom margin reduced */
.md-typeset ol li, .md-typeset ul li {
  margin-bottom: 0.1em;
}


@media screen and (max-width: 76.1875em) {
  /* left nav post contents title back */
  .md-nav--primary .md-nav__title {
    /* background-color: var(--md-primary-fg-color); */
    background: linear-gradient(135deg, #151F2E 0%, #131B38 100%);
  }

  /* style logo name in left nav */
  .md-nav--primary .md-nav__title[for="__drawer"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2.5em;
    /* padding-top: 30px; */
  }

  /* hide logo in mobile left nav */
  .md-nav--primary .md-nav__title .md-logo {
    display: none;
    /* position: absolute;
    display: block;
    top: 17px;
    left: initial;
    padding: 0;
    margin: 0; */
  }

  /* .md-nav--primary .md-nav__title .md-logo img {
    width: 1.2rem;
    height: 1.2rem;
  } */
}


@media screen and (min-width: 76.25em) {
  .md-nav.md-nav--primary .md-nav {
    font-size: .74rem;
  }

  .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
    display: none !important;
  }

  .md-nav.md-nav--primary .md-nav .md-nav__list .md-nav__link--active {
    color: var(--md-typeset-a-color);
    background-color: #161e31;
  }

  .md-nav.md-nav--primary .md-nav .md-nav__list .md-nav__link:is(:focus, :hover) {
    color: var(--md-typeset-a-color);
  }

  .md-nav.md-nav--primary .md-nav .md-nav__list .md-nav__item a {
    padding: 8px 8px;
    border-radius: 5px;
    margin-top: 3px;
  }

  /* desktop left nav radius when there's scroll */
  .md-sidebar__scrollwrap {
    border-radius: 5px;
    scrollbar-color: var(--md-default-fg-color--lighter) #192435;
  }
  .md-sidebar__scrollwrap:hover {
    scrollbar-color: var(--md-accent-fg-color) #192435;
  }
}


@media screen and (max-width: 44.9375em) {
  /* codebox border radius on tablet */
  .md-typeset > .highlight code {
    border-radius: 5px;
  }
}


@media screen and (max-width: 30em) {
  /* codebox border radius on mobile */
  .md-typeset > .highlight code {
    border-radius: 0;
  }

  /* codebox left right spacing on mobile */
  .md-typeset > .highlight {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
}